.containerInput {
  width: 100%;
}

.containerInput input {
  width: 100%;
  background: var(--cool-gray-10);
  color: var(--dark-gray);
  border: none;
  border-bottom: 0.1rem solid var(--black-color);
  padding: 1.2rem 1.6rem;
  outline: none;
  margin-top: 1rem;
}

.containerInput input,
.containerInput label {
  font-size: 1.4rem;
  color: var(--dark-gray);
}

.containerInput input:focus {
  outline: 0.1rem solid var(--dark-gray);
}
