.home {
  max-width: 100%;
  width: 100%;
  height: calc(100% - 83px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContent {
  width: 56rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionContent h1,
.sectionContent p {
  text-align: center;
}

.sectionContent p {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.titleTop {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--dark-blue);
}

.buttonsRedirect {
  display: flex;
  gap: 1.6rem;
}
